body{
    background: linear-gradient(110deg, #ec5212, #1334c1);
    background-size: 400% 400%;
    animation: ASSO 30s ease infinite;
}
header, main, footer{
    padding: 15px;
}
@keyframes ASSO{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100{background-position: 0% 50%;}
}
header{
    text-align: center;
    font-family: cursive;

}
nav a{
    display:block;
    margin: 5px;
    border: 1px solid white;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 6px; 
    background-color: black;
    color: white; 
    box-shadow: 3px 3px black;
    
}
nav h3{
    padding: 1px;
    font-family: cursive;
    text-align: center;
}
nav{
    background-color:rgba(255,255,255,0.4);
    width: 250px; 
}

main{background-color:rgba(255,255,255,0.1);
    text-align: center;
    
}
footer{
    background-color:rgba(255,0,0,0.5);
    min-height:50px;
    bottom: 0;
    width: 100%;
    border-radius:10px;
}
footer nav{ 
    width: 40%;
    min-height: 80px;
    
}
footer nav a{
    display:inline;
}
footer h3{
    font-family: fantasy;
    text-align: left
}

